<div></div>
<br>
<div class="container" data-aos="fade-up" style="background-color:Gray;" style="background-size: cover;">
  <div class="row align-items-center">
    <div class="image col-lg-6" data-aos="fade-right">
      <!-- dentro del contenedor guardamos la imagen y los datos -->
      <img class="card-img-top" [src]="image">
    </div>
    <div class="col-lg-6">
      <div align="center" class="icon-box mt-5 mt-lg-0">
        <h4>Nombre: {{name}}</h4>
        <h4>Estado: {{status}}</h4>
        <h4>Specie: {{species}}</h4>
        <h4>Genero:{{gender}}</h4>
      </div>
      <!------------------------------------------------->
    </div>
  </div>