<!--parte visual de la navegacion -->
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto" style="background-color:Gray;">

    <div class="inner">
      <h3 class="masthead-brand" class="text-center">Rick and Morty</h3>

      <nav class="nav nav-masthead justify-content-center">
        <button type="button" class="btn btn-light"><a class="nav-link active" href=''
            class="text-body">Home</a></button>
      </nav>
    </div>
  </header>
</div>